/* CDN Font imports */
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/libre-franklin');
@import url('https://fonts.cdnfonts.com/css/inter');

/* Tailwind directives */
@tailwind base;
@tailwind components; 
@tailwind utilities;

/* Global styles */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html {
  font-family: 'Inter', sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* CSS Custom Properties for additional styling */
:root {
  /* red */
  --red-900: #851651;
  --red-800: #C11574;
  --red-200: #FAA7E0;
  --red-100: #FFECE5;
  --red-50: #FDF2FA;
  --red-10: #F04438;

  /* gray */
  --grey-900: #101928;
  --grey-800: #211F1F; 
  --grey-700: #344054;
  --grey-600: #475367;
  --grey-500: #6B7280;
  --grey-400: #A4A7AE;
  --grey-300: #8A8A8A;
  --grey-200: #333333;
  --grey-100: #434343;
  --grey-50: #252B37;
  --grey-30: #181D27;
  --grey-20: #535862;
  --grey-10: #211F1F;

  /* greeen */
  --green-900: #05A505;
  --green-800: #027A48;
  --green-100: #ECFDF3;

  /* black */
  --black:  #000000;
  --health-black: #25282B;

  /* border color */
  --borderColor: #F1F1F1;
  --borderColor--100: #D5D7DA;

  /* blue */
  --blue-900: #3538CD;
  --blue-100: #7CA1FE;
  --blue-50: #EEF4FF;

  /* purple */
  --purple-900: #6938EF;
  

  /* orange */
  --orange-900: #CC400C;
  --orange-400: #F56630;
  --orange-200:#FA9874;

  
  --font-inter: 'Inter', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-libre: 'Libre Franklin', sans-serif;
}
